ul {
    list-style-type: none;
  }
  
  li {
    padding: 5px;
    margin: 5px;
  }
  
  .bg-img { 
    /* The image used */
    /* background-image: url(../img/pizza-3007395_1920.jpg); */
    background-image: url(../img/pizza-3007395_1920.jpg);
      
    /* Full height */
    height: 100%;  
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .img-logo {
      height: auto;
      width: 130px;
  }
  
 